sudo: false
dist: trusty
language: ruby
rvm:
  - "2.0"
  - "2.1"
  - "2.2"
  - "2.3"
  - "2.4"

cache:
  bundler: true
bundler_args: --without development
before_install: gem update bundler
script:
  - bundle exec rake
  - bundle exec rubocop
