<style type="text/css">
  body {
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
</style>

<% @samples.each do |sample| %>
  <h2><a href="/<%= sample.tag %>"><%= sample.tag %></a></h2>
  <%= Rouge.highlight(sample.demo, sample, @formatter) %>
  <br />
<% end %>
