<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>

  <style type="text/css">
    <%= @theme.render %>
    <%= @theme.render_base('pre') %>

    pre { font-family: 'Ubuntu Mono', 'Monaco', monospace; }

  </style>
</head>

<body>
  <%= yield %>
</body>



</html>
