<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>

  <style type="text/css">
    <%= @theme.render %>
    <%= @theme.class.styles['Text'].render('body') %>

    pre {
      padding: 15px;
      line-height: 15px;
      font-family: 'Ubuntu Mono', 'Monaco', monospace;
    }
  </style>
</head>

<body>
  <%= yield %>
</body>



</html>
